name: Build dist branch
on:
  workflow_dispatch:
jobs:
  build-dist:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: runsascoded/gh-pnpm-dist@v1
        with:
          source_ref: main
          build_command: pnpm run build:types
          source_dirs: src,types
